<div class="page">
  <app-loading *ngIf="isLoading" class="centered"></app-loading>

  <div *ngIf="!isLoading" class="page__wrapper page__wrapper--transparent">
    <div class="flex-top">
      <app-weekly-done *ngIf="tasks && tasks.length > 0" [tasks]="tasks"></app-weekly-done>
      <app-tasks-done *ngIf="tasks && tasks.length > 0" [tasks]="tasks"></app-tasks-done>
    </div>
    <div *ngIf="tasks.length === 0" class="page__container flex-centered flex-centered--column">
      <app-no-data message="{{ 'statistics.no-data' | translate }}" icon="sms"></app-no-data>
    </div>
  </div>
</div>
