<mat-sidenav-container class="header">
    <mat-sidenav
        #drawer
        class="mat-elevation-z1"
        fixedInViewport
        [attr.role]="(isDesktop$ | async) ? 'navigation' : 'dialog'"
        [mode]="(isDesktop$ | async) ? 'side' : 'over'"
        [(opened)]="this.isSidebarIsOpened"
    >
        <mat-nav-list class="header__left">
            <a mat-list-item [routerLink]="['tasks/']" (keypress)="isDesktop ? null : drawer.close()" (click)="isDesktop ? null : drawer.close()" routerLinkActive="active">
                <mat-icon matTooltip="Tasks">create</mat-icon>
                {{ "navigation.tasks" | translate }}
            </a>
            <a mat-list-item [routerLink]="['statistics/']" (keypress)="isDesktop ? null : drawer.close()" (click)="isDesktop ? null : drawer.close()" routerLinkActive="active">
                <mat-icon matTooltip="Statistics">insights</mat-icon>
                {{ "navigation.statistics" | translate }}
            </a>
            <a mat-list-item [routerLink]="['settings/']" (keypress)="isDesktop ? null : drawer.close()" (click)="isDesktop ? null : drawer.close()" routerLinkActive="active">
                <mat-icon matTooltip="Tools">settings</mat-icon>
                {{ "navigation.settings" | translate }}
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary" *ngIf="isLogged">
            <div>
                <button type="button" mat-icon-button (keypress)="drawer.toggle()" (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
            </div>

            <div class="only-desktop">{{ this.time | date : "HH:mm" }}</div>

            <div class="header__top-right">
                <div class="header__darkmode-wrapper">
                    <mat-icon class="darkmode-icon">dark_mode</mat-icon>
                    <mat-slide-toggle [formControl]="toggleTheme" color="primary"></mat-slide-toggle>
                </div>
                <button [matMenuTriggerFor]="userMenu" type="button" mat-icon-button>
                    <mat-icon>account_circle</mat-icon>
                </button>

                <mat-menu #userMenu="matMenu">
                    <mat-nav-list>
                        <a mat-list-item [routerLink]="['/profile/']"> {{ "navigation.profile" | translate }} </a>
                    </mat-nav-list>

                    <mat-nav-list>
                        <a mat-list-item (keypress)="logout()" (click)="logout()"> {{ "navigation.logout" | translate }} </a>
                    </mat-nav-list>
                </mat-menu>
            </div>
        </mat-toolbar>

        <mat-toolbar color="primary" *ngIf="!isLogged">
            <h2>
                <a [routerLink]="'/'">{{ "app.title" | translate }}</a>
            </h2>

            <div>
                <a mat-button routerLink="register" routerLinkActive="active">{{ "navigation.register" | translate }}</a>
                <a mat-raised-button routerLink="login" routerLinkActive="active">{{ "navigation.login" | translate }}</a>
            </div>
        </mat-toolbar>

        <div class="mat-app-background page-container" [@routerTransition]="{ value: getState(outlet), params: { size: this.isSidebarIsOpened && this.isDesktop ? this.sidebarSize : '0px' } }">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
