<div class="form" fxLayoutAlign="center center">
    <mat-card class="form__box">
        <mat-card-header>
            <mat-card-title class="form__title">{{ "title.profile" | translate }}</mat-card-title>
        </mat-card-header>

        <form [formGroup]="form" (submit)="saveAsync()">
            <mat-card-content>
                <mat-form-field class="full-width">
                    <input type="password" formControlName="password" matInput placeholder="{{ 'input.password' | translate }}" required />
                    <mat-error *ngIf="form.get('password')?.hasError('minlength')"> {{ "error.min-length" | translate: { value: 8 } }} </mat-error>
                    <mat-error *ngIf="form.get('password')?.hasError('maxlength')"> {{ "error.max-length" | translate: { value: 150 } }} </mat-error>
                </mat-form-field>
            </mat-card-content>

            <button type="submit" mat-raised-button color="primary" class="form__button" (click)="saveAsync()">{{ "button.save" | translate }}</button>
        </form>
    </mat-card>
</div>
