.list {
    height: 100%;

    @include media(">=desktop") {
        margin: vw(80) 0 0 0 !important;
    }

    &__wrapper {
        max-width: vw(1000);
        height: 100%;
        width: 100%;

        @include media(">=desktop") {
            margin: vw(40);
        }
    }

    &__header {
        display: flex;
        height: auto;
        box-shadow: 0 vw(2) vw(5) rgba(0, 0, 0, 0.15);
        padding: vw(25) 0 vw(15);
        margin: 0 0 vw(2) 0;
        font-size: vw(22);
        margin-left: 0;
        flex-direction: column;
        align-items: center;
        height: vw(190);
        justify-content: space-between;

        @include media(">=desktop") {
            flex-direction: row;
            padding: vw(15) 0 vw(15);
            height: auto;
            justify-content: unset;
        }

        .darkMode & {
            background-color: mat-contrast($app-background, 100) !important;
        }

        &-title {
            align-items: center;
            display: flex;
            font-size: vw(34);
            justify-self: center;
            margin-top: vw(20);

            @include media(">=desktop") {
                flex: 1 1 0%;
                margin-left: vw(48);
            }
        }

        &-button {
            margin-left: vw(40) !important;
        }

        &-search {
            padding-right: vw(20);
            place-content: center flex-end;
            align-items: center;
            flex-direction: row;
            box-sizing: border-box;
            display: flex;
            flex: 0 0 auto;
            border-radius: 20px !important;
            background-color: mat-color($app-background, 100);
            padding: 0 vw(10) 0 vw(20);
            margin-bottom: vw(8);
            width: 90%;

            @include media(">=desktop") {
                width: unset;
                margin-top: unset;
                margin-right: vw(20);
            }

            .darkMode & {
                background-color: mat-contrast($app-background, 50) !important;
            }

            .mat-form-field {
                width: 100% !important;
            }

            .mat-form-field-wrapper {
                padding-bottom: 0 !important;
            }

            .mat-form-field-underline {
                bottom: vw(8) !important;
            }
        }
    }

    &__body {
        @include media("<=desktop") {
            height: calc(100vh - (0.6rem + 0.6rem + 1.92rem + 0.4rem));
        }

        @include media(">=desktop") {
            height: vw(557);
        }

        &-title {
            font-size: vw(18) !important;
            margin: 0 !important;
        }

        &-actions {
            height: vw(45);
        }

        .table {
            height: 100%;
        }

        &-table {
            height: 100%;

            @include media(">=desktop") {
                height: vw(557);
            }

            table {
                width: 100%;

                @include media("<=desktop") {
                    padding-left: vw(15);
                    padding-right: vw(15);
                }
            }
        }

        h2 {
            font-size: vw(18);
            line-height: vw(22);
            margin: 0;
        }

        p {
            font-size: vw(12);
            margin: 0;
        }

        &--empty {
            height: calc(5rem + 0.6rem);
        }

        .mat-column-actions,
        th.mat-column-actions {
            flex: 0 0 12%;
        }

        mat-paginator {
            height: vw(60);
        }
    }
}
