.page {
    height: calc(6.3rem + #{$headerSize});

    @include media(">=desktop") {
        margin: vw(80) 0 0 0 !important;
    }

    &__wrapper {
        max-width: vw(1000);
        height: 100%;
        width: 100%;
    }

    &__content {
        height: 100%;

        &-wrapper {
            box-sizing: border-box;
            padding: vw(70) vw(50);
            height: 100%;
        }
    }
}
