.statistics {
    display: flex;

    mat-card {
        width: 100%;
        height: vw(160);

        @include media(">=desktop") {
            width: vw(440);
            height: vw(225);
        }

        > div {
            width: 100%;
            height: 100%;
        }
    }
}
