.doughnut-text {
    position: absolute;
    left: 86px;
    top: 89px;
    height: 40px;
    width: 40px;

    p {
        margin-top: 9px;
        text-align: center;
    }
}

.chart-wrapper {
    height: 100%;
}

.message {
    height: 100%;
    display: flex;
    place-content: center;
    place-items: center;

    p {
        margin: 0;
    }
}
