/* ============================================== */
/* ============= material overrides ============= */
/* ============================================== */

.mat-paginator-outer-container {
    height: vw(60) !important;
}

mat-card {
    border-radius: 0px !important;
    width: vw(300);
    margin-bottom: unset;
    margin: vw(10);
    min-width: vw(250);
}

mat-form-field {
    padding: vw(3);
}

mat-toolbar {
    justify-content: space-between;
}

mat-row {
    cursor: pointer;
}

.mat-drawer-container {
    position: unset !important;
}

.mat-bottom-sheet-container {
    padding: 0 !important;
}

.mat-bottom-sheet-container-large {
    min-width: 100% !important;
    height: 85vh;
}

.mat-form-field-label-wrapper {
    font-size: vw(16);
    overflow: hidden;
    pointer-events: none;
}

.mat-button {
    font-size: vw(16) !important;
}

mat-row {
    padding: vw(8) 0;
}

.mat-toolbar {
    min-height: $headerSize !important;
    height: $headerSize !important;
}

.mat-toolbar-row {
    min-height: $headerSize !important;
    height: $headerSize !important;
}

.cdk-virtual-scroll-viewport {
    background-color: mat-color($app-background, 50);

    .darkMode & {
        background-color: mat-contrast($app-background, 50);
    }
}
