/* ============================================== */
/* ==================== nav ===================== */
/* ============================================== */

@mixin nav-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $background-color: mat-color($background, card);
}
