@import "~include-media/dist/_include-media";
@import "@angular/material/theming";

@mixin nav-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $background-color: mat-color($background, card);

    .tile {
        @include mat-elevation(2);
        background-color: mat-color($accent);
        border: 1rem solid $background-color;
        padding: 2rem;
        min-height: 200px;
        min-width: 200px;

        p {
            color: $background-color;
            font-family: "Pacifico";
            line-height: 2.4rem;
            font-size: 2rem;
        }
    }
}

.sidenav {
    width: 155px;
}

.nav-list a mat-icon {
    padding-right: 10px;
}

.nav-list a {
    letter-spacing: 0px;
}

.sidenav-container {
    height: 100%;
}

.sidenav-bottom {
    bottom: 0px !important;
    position: absolute !important;
}

.user-menu {
    padding-top: 0px;
}

// .active-link {
//     background: mat-color($primary, 500) !important;
// }

// .mat-nav-list a.active {
//     background: mat-color($primary, 500) !important;
//     color: mat-color($primary, 50) !important;
// }
