<div class="form">
  <div class="form__box">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="form__title">{{ "title.login" | translate }}</mat-card-title>
      </mat-card-header>

      <form [formGroup]="form" cdkTrapFocus [cdkTrapFocusAutoCapture]="true" (keyup.enter)="loginAsync()">
        <mat-card-content>
          <mat-form-field class="full-width" color="accent">
            <input formControlName="email" matInput placeholder="{{ 'input.email' | translate }}" cdkFocusInitial />
            <mat-error *ngIf="form.get('email')?.hasError('required')">
              {{ "error.required" | translate }}
            </mat-error>
            <mat-error *ngIf="form.get('email')?.hasError('pattern')">
              {{ "error.email-invalid" | translate }}
            </mat-error>
            <mat-error *ngIf="form.get('email')?.hasError('minlength')">
              {{ "error.min-length" | translate: { value: 5 } }}
            </mat-error>
            <mat-error *ngIf="form.get('email')?.hasError('maxlength')">
              {{ "error.max-length" | translate: { value: 150 } }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" color="accent">
            <input
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
              matInput
              placeholder="{{ 'input.password' | translate }}"
            />
            <mat-icon matSuffix (click)="togglePasswordVisibility($event)">
              {{ showPassword ? "visibility_off" : "visibility" }}
            </mat-icon>
            <mat-error *ngIf="form.get('password')?.hasError('required')">
              {{ "error.required" | translate }}
            </mat-error>
            <mat-error *ngIf="form.get('password')?.hasError('minlength')">
              {{ "error.min-length" | translate: { value: 8 } }}
            </mat-error>
            <mat-error *ngIf="form.get('password')?.hasError('maxlength')">
              {{ "error.max-length" | translate: { value: 150 } }}
            </mat-error>
          </mat-form-field>

          <mat-checkbox formControlName="keepUserLogged" color="primary">{{ "login.remember-me" | translate }}</mat-checkbox>
        </mat-card-content>

        <button
          type="button"
          mat-raised-button
          color="primary"
          class="form__button"
          [disabled]="!form.dirty || !form.valid"
          (click)="loginAsync()"
        >
          {{ "button.signin" | translate }}
        </button>
      </form>
    </mat-card>
  </div>
</div>
