.icon {
    font-size: vw(80);
    opacity: 0.15;

    &--big {
        width: vw(85) !important;
        height: vw(85) !important;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
}
