.icon {
    opacity: 0.15;
    font-size: vw(80);

    &--big {
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: vw(85) !important;
        height: vw(85) !important;
    }
}
