<div class="list">
  <div class="list__wrapper">
    <div class="list__container mat-elevation-z1">
      <div class="list__header mat-elevation-z1">
        <h2 class="list__header-title">{{ "title.tasks" | translate }}</h2>

        <div class="list__header-icons">
          <button type="button" mat-icon-button *ngIf="(tasks.length > 0 || isSearching) && !isLoading" (click)="refreshAsync()">
            <mat-icon>refresh</mat-icon>
          </button>
          <button
            type="button"
            mat-icon-button
            [matMenuTriggerFor]="searchMenu"
            *ngIf="(tasks.length > 0 || isSearching) && !isLoading"
            (click)="searchInput.focus()"
          >
            <mat-icon>search</mat-icon>
          </button>
          <mat-menu #searchMenu="matMenu">
            <div class="list__header-search">
              <mat-form-field color="accent">
                <input
                  color="primary"
                  matInput
                  placeholder="{{ 'task-list.search' | translate }}..."
                  #searchInput
                  [formControl]="search"
                  (keyup.enter)="filterTasksAsync(searchInput.value)"
                />
                <mat-icon (click)="filterTasksAsync()" matSuffix>close</mat-icon>
              </mat-form-field>
            </div>
          </mat-menu>
        </div>
      </div>

      <div class="list__body">
        <app-loading *ngIf="isLoading" class="centered" icon="sms"></app-loading>

        <div *ngIf="!isLoading && tasks?.length === 0" class="full-height flex-centered flex-centered--column">
          <app-no-data message="{{ 'task-list.empty' | translate }}" icon="sms"></app-no-data>
        </div>

        <div *ngIf="!isLoading && searchedTasks && searchedTasks.length > 0" class="full-height flex-centered flex-centered--column">
          <app-no-data message="{{ 'task-list.empty-search' | translate }}" icon="sms"></app-no-data>
        </div>

        <div *ngIf="!isLoading && tasks.length > 0" class="list__table">
          <cdk-virtual-scroll-viewport *ngIf="tasks && tasks.length > 0" class="list__table-vscroll" tvsItemSize="20">
            <table
              [hidden]="isLoading || !tasks || !tasks.length"
              mat-table
              [dataSource]="tasksDataSource"
              matSort
              (matSortChange)="sortDataAsync($event)"
            >
              <ng-container matColumnDef="date">
                <mat-cell mat-header-cell *matHeaderCellDef mat-sort-header>
                  <h3 class="list__table-header">
                    {{ "table.date" | translate }}
                  </h3>
                </mat-cell>
                <mat-cell class="column-name" mat-cell *matCellDef="let task">
                  <h2>
                    {{ task.date | convertDate: "EEEE" }}
                    <p>{{ task.date | convertDate: "shortDate" }}</p>
                  </h2>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="title">
                <mat-cell mat-header-cell *matHeaderCellDef mat-sort-header>
                  <h3 class="list__table-header">
                    {{ "table.title" | translate }}
                  </h3>
                </mat-cell>
                <mat-cell mat-cell *matCellDef="let task">{{ task.title }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="description">
                <mat-cell mat-header-cell *matHeaderCellDef mat-sort-header>
                  <h3 class="list__table-header">
                    {{ "table.description" | translate }}
                  </h3>
                </mat-cell>
                <mat-cell mat-cell *matCellDef="let task">{{ task.description }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="status">
                <mat-cell mat-header-cell *matHeaderCellDef mat-sort-header>
                  <h3 class="list__table-header">
                    {{ "table.status" | translate }}
                  </h3>
                </mat-cell>
                <mat-cell mat-cell *matCellDef="let task">
                  <div [ngSwitch]="task.status">
                    <div *ngSwitchDefault>{{ "table.to-do" | translate }}</div>
                    <div *ngSwitchCase="'toDo'">
                      {{ "table.to-do" | translate }}
                    </div>
                    <div *ngSwitchCase="'inProgress'">
                      {{ "table.in-progress" | translate }}
                    </div>
                    <div *ngSwitchCase="'done'">
                      {{ "table.done" | translate }}
                    </div>
                  </div>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="category">
                <mat-cell mat-header-cell *matHeaderCellDef mat-sort-header>
                  <h3 class="list__table-header">
                    {{ "table.category" | translate }}
                  </h3>
                </mat-cell>
                <mat-cell mat-cell *matCellDef="let task">{{ task.category }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="actions">
                <mat-cell mat-header-cell *matHeaderCellDef></mat-cell>

                <mat-cell mat-cell *matCellDef="let task">
                  <button
                    [disabled]="task.status === status.toDo"
                    type="button"
                    mat-icon-button
                    matTooltip="{{ 'table.actions.to-do' | translate }}"
                    class="list__table-actions"
                    (click)="changeStatusAsync(task, status.toDo); $event.stopPropagation()"
                  >
                    <mat-icon>undo</mat-icon>
                  </button>
                  <button
                    [disabled]="task.status === status.progress"
                    type="button"
                    mat-icon-button
                    matTooltip="{{ 'table.actions.progress' | translate }}"
                    class="list__table-actions"
                    (click)="changeStatusAsync(task, status.progress); $event.stopPropagation()"
                  >
                    <mat-icon>360 icon</mat-icon>
                  </button>
                  <button
                    [disabled]="task.status === status.done"
                    type="button"
                    mat-icon-button
                    matTooltip="{{ 'table.actions.done' | translate }}"
                    class="list__table-actions"
                    (click)="changeStatusAsync(task, status.done); $event.stopPropagation()"
                  >
                    <mat-icon>check</mat-icon>
                  </button>
                  <button
                    type="button"
                    mat-icon-button
                    matTooltip="{{ 'table.actions.remove' | translate }}"
                    class="list__table-actions"
                    (click)="confirmDelete(task); $event.stopPropagation()"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="actions-mobile">
                <mat-cell mat-header-cell *matHeaderCellDef></mat-cell>

                <mat-cell mat-cell *matCellDef="let task">
                  <button type="button" mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <ng-template matMenuContent>
                      <button
                        *ngIf="task.status !== status.toDo"
                        type="button"
                        mat-menu-item
                        (click)="changeStatusAsync(task, status.toDo)"
                      >
                        <span>{{ "table.actions.to-do" | translate }}</span>
                      </button>
                      <button
                        *ngIf="task.status !== status.progress"
                        type="button"
                        mat-menu-item
                        (click)="changeStatusAsync(task, status.progress)"
                      >
                        <span>{{ "table.actions.progress" | translate }}</span>
                      </button>
                      <button
                        *ngIf="task.status !== status.done"
                        type="button"
                        mat-menu-item
                        (click)="changeStatusAsync(task, status.done)"
                      >
                        <span>{{ "table.actions.done" | translate }}</span>
                      </button>
                      <button type="button" mat-menu-item (click)="confirmDelete(task)">
                        <span>{{ "table.actions.remove" | translate }}</span>
                      </button>
                    </ng-template>
                  </mat-menu>
                </mat-cell>
              </ng-container>

              <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

              <mat-row
                mat-row
                *matRowDef="let task; columns: displayedColumns"
                (click)="edit(task._id); $event.stopPropagation()"
              ></mat-row>
            </table>
          </cdk-virtual-scroll-viewport>
          <div [hidden]="isLoading || (tasks && tasks.length === 0)" class="list__table-paginator">
            <mat-paginator
              [length]="pageCount"
              [pageSizeOptions]="pageSizeOptions"
              (page)="onPaginateChangeAsync($event)"
              showFirstLastButtons
            ></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="list__add" color="primary" mat-fab (click)="add()">
    <mat-icon matTooltip="{{ 'task-list.title-tooltip' | translate }}">add</mat-icon>
  </button>
</div>

<router-outlet></router-outlet>
