/* ============================================== */
/* =================== colors =================== */
/* ============================================== */

$black: #000000;
$white: #ffffff;

$ice: #dddddd;
$ice-light: #eeeeee;
$ice-strong: #aaaaaa;

$gray: #4e4e4e;
$gray-light: #999999;
$gray-strong: #666666;

$onix: #333333;
$onix-light: #555555;
$onix-strong: #212121;

$blue: #08a9df;
$blue-light: #b7ebfc;
$blue-strong: #121330;
$blue-strong-alt: #1a1b38;

$red: #f9263f;
$red-light: #fdbbc3;
$red-strong: #6a030f;

$green: #7dd9b4;
$green-light: #ccf0e2;
$green-strong: #19573e;

$orange: #ffac3c;
$orange-light: #ffe2bb;
$orange-strong: #a25d00;

$yellow: #ffeb3c;
$yellow-light: #fff8bb;
$yellow-strong: #a29100;

/* ============================================== */
/* ================ dimensions  ================= */
/* ============================================== */

$size-mobile: 320px;
$size-tablet: 768px;
$size-desktop: 970px;
$size-medium-desktop: 1280px;
$size-common-desktop: 1366px;
$size-fullhd-desktop: 1920px;
$size-ultrahd-desktop: 3840px;

$breakpoints: (
  mobile: $size-mobile,
  tablet: $size-tablet,
  desktop: $size-desktop,
  medium-desktop: $size-medium-desktop,
  common-desktop: $size-common-desktop,
  fullhd-desktop: $size-fullhd-desktop,
  ultrahd-desktop: $size-ultrahd-desktop,
);

$convert-base: 1000;
$pixel-base: 10;
