/* ============================================== */
/* ================== helpers =================== */
/* ============================================== */

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}

.clear {
  display: block;
  clear: both;
  content: "";
}

.split {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  @include media("<desktop") {
    justify-content: space-around;
  }

  @include media(">=desktop") {
    justify-content: space-between;
  }
}

.accent {
  .mat-simple-snackbar-action {
    color: mat-color($accent) !important;
  }
}

/* ============================================= */
/* =============== hide classes ================ */
/* ============================================= */

@include media(">mobile") {
  .only-mobile {
    display: none;
  }
}

@include media("<=mobile", ">=desktop") {
  .only-tablet {
    display: none;
  }
}

@include media("<desktop") {
  .only-desktop {
    display: none;
  }
}

@include media("<tablet") {
  .only-tablet-desktop {
    display: none;
  }
}

@include media(">=desktop") {
  .only-mobile-tablet {
    display: none;
  }
}

/* ============================================= */
/* ================== layout =================== */
/* ============================================= */

.full-width {
  width: 100%;
}

.half-width {
  width: 48%;
}

.full-height {
  height: 100%;
}

.table-body-height {
  height: calc(100% - (1.6rem / 2));
}

.flex-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;

  @include media(">=desktop") {
    flex-direction: row;
  }
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;

  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
  }
}

.absolute {
  position: absolute !important;
}

%backdrop::after {
  position: absolute;
  top: vw(-10);
  left: 0;
  transform: scale(0.95);
  z-index: 0;
  border-radius: vw(10);
  background-color: mat-color($app-background, 50) !important;
  width: 100%;
  height: vw(30);
  content: "";

  .dark-mode & {
    background-color: mat-contrast($app-background, 50) !important;
  }
}
