@import "@angular/material/theming";

/* ============================================== */
/* ========== material layout overrides ========= */
/* ============================================== */

@function define-typography-level(
  $font-size,
  $line-height: $font-size,
  $font-weight: 400,
  $font-family: null,
  $letter-spacing: normal
) {
  @return (
    font-size: $font-size,
    line-height: $line-height,
    font-weight: $font-weight,
    font-family: $font-family,
    letter-spacing: $letter-spacing
  );
}

$custom-typography: mat-typography-config(
  $font-family: $font-main,
  $headline: define-typography-level(0.48rem, 0.6rem, 500),
  $title: define-typography-level(0.26rem, 0.3rem, 500),
  $subheading-1: define-typography-level(0.2rem, 0.28rem, 400),
  $subheading-2: define-typography-level(0.16rem, 0.22rem, 400),
  $body-1: define-typography-level(0.14rem, 0.2rem, 400),
  $body-2: define-typography-level(0.14rem, 0.2rem, 400),
  $caption: define-typography-level(0.14rem, 0.2rem, 400),
  $button: define-typography-level(0.16rem, 0.28rem, 500),
  $input: define-typography-level(inherit, 1.125, 400),
);

@include media(">=desktop") {
  $custom-typography: mat-typography-config(
    $font-family: $font-main,
    $headline: define-typography-level(0.48rem, 1.1rem, 500),
    $title: define-typography-level(0.26rem, 0.3rem, 500),
    $subheading-1: define-typography-level(0.2rem, 0.28rem, 400),
    $subheading-2: define-typography-level(0.16rem, 0.22rem, 400),
    $body-1: define-typography-level(0.14rem, 0.2rem, 400),
    $body-2: define-typography-level(0.14rem, 0.2rem, 400),
    $caption: define-typography-level(0.14rem, 0.2rem, 400),
    $button: define-typography-level(0.16rem, 0.28rem, 500),
    $input: define-typography-level(inherit, 1.125, 400),
  );
}

@include mat-core($custom-typography);

/* ============================================== */
/* =================== layout =================== */
/* ============================================== */

html {
  @extend .scrollbar;
  max-width: 100vw;
  height: 100%;
  font-size: mobile-vw($pixel-base + $mobile-factor, true);

  @include media(">=desktop") {
    font-size: fixed-vw($pixel-base);
  }
}

body {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  font-family: $font-main;
  font-size: vw(18);
}

a {
  text-decoration: none;
  color: $white;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100vh - #{$header-height});
  height: calc(100dvh - #{$header-height});
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: vw(-15);
  height: 100%;

  @include media(">=desktop") {
    transform: scale(1);
    margin-top: vw(-35);
  }

  mat-spinner {
    transform: scale(0.9);
  }
}

.no-data {
  margin-top: vw(-15);

  @include media(">=desktop") {
    margin-top: vw(-35);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      text-align: center;
      font-size: vw(14) !important;

      @include media(">=desktop") {
        margin-top: vw(8);
      }
    }
  }
}
