<div class="form" fxLayoutAlign="center center">
    <mat-card class="form__box">
        <mat-card-header>
            <mat-card-title class="form__title">{{ "title.register" | translate }}</mat-card-title>
        </mat-card-header>

        <form [formGroup]="form">
            <mat-card-content>
                <mat-form-field class="full-width">
                    <input formControlName="username" matInput placeholder="{{ 'input.username' | translate }}" required />
                    <mat-error *ngIf="form.get('username')?.hasError('minlength')"> {{ "error.minlength" | translate: { value: 5 } }} </mat-error>
                    <mat-error *ngIf="form.get('username')?.hasError('maxlength')"> {{ "error.maxlength" | translate: { value: 150 } }} </mat-error>
                    <mat-error *ngIf="form.get('username')?.hasError('userexists')"> {{ "error.user-exists" | translate }} </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input type="password" formControlName="password" matInput placeholder="{{ 'input.password' | translate }}" required (keyup.enter)="register()" />
                    <mat-error *ngIf="form.get('username')?.hasError('minlength')"> {{ "error.minlength" | translate: { value: 8 } }} </mat-error>
                    <mat-error *ngIf="form.get('username')?.hasError('maxlength')"> {{ "error.maxlength" | translate: { value: 150 } }} </mat-error>
                </mat-form-field>
            </mat-card-content>

            <button mat-raised-button color="primary" class="form__button" (click)="register()">{{ "button.register" | translate }}</button>
        </form>
    </mat-card>
</div>
