<mat-sidenav-container class="header">
  <mat-sidenav
    #drawer
    class="mat-elevation-z1"
    fixedInViewport
    [attr.role]="(isDesktop$ | async) ? 'navigation' : 'dialog'"
    [mode]="(isDesktop$ | async) ? 'side' : 'over'"
    [(opened)]="isSidebarIsOpened"
  >
    <mat-nav-list class="header__sidenav">
      <a
        mat-list-item
        [routerLink]="['tasks/']"
        (keypress)="isDesktop ? null : drawer.close()"
        (click)="isDesktop ? null : drawer.close()"
        routerLinkActive="active"
      >
        <mat-icon matTooltip="Tasks">create</mat-icon>
        {{ "navigation.tasks" | translate }}
      </a>
      <a
        mat-list-item
        [routerLink]="['statistics/']"
        (keypress)="isDesktop ? null : drawer.close()"
        (click)="isDesktop ? null : drawer.close()"
        routerLinkActive="active"
      >
        <mat-icon matTooltip="Statistics">insights</mat-icon>
        {{ "navigation.statistics" | translate }}
      </a>
      <a
        mat-list-item
        [routerLink]="['settings/']"
        (keypress)="isDesktop ? null : drawer.close()"
        (click)="isDesktop ? null : drawer.close()"
        routerLinkActive="active"
      >
        <mat-icon matTooltip="Tools">settings</mat-icon>
        {{ "navigation.settings" | translate }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <header>
      <mat-toolbar color="primary">
        <ng-container *ngIf="!isLogged; else loggedTemplate">
          <a class="header__logo" [routerLink]="'/'">{{ "app.title" | translate }}</a>
          <div>
            <a mat-button routerLink="register">{{ "navigation.register" | translate }}</a>
            <a mat-raised-button routerLink="login">{{ "navigation.login" | translate }}</a>
          </div>
        </ng-container>

        <ng-template #loggedTemplate>
          <button type="button" mat-icon-button (keypress)="drawer.toggle()" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>

          <div class="only-desktop">{{ time | date: "HH:mm" }}</div>

          <div class="header__right">
            <div class="header__right-wrapper">
              <mat-icon>dark_mode</mat-icon>
              <mat-slide-toggle [formControl]="toggleTheme" color="accent"></mat-slide-toggle>
            </div>

            <button [matMenuTriggerFor]="userMenu" type="button" mat-icon-button>
              <mat-icon>account_circle</mat-icon>
            </button>

            <mat-menu #userMenu="matMenu">
              <mat-nav-list>
                <a mat-list-item [routerLink]="['/profile/']">{{ "navigation.profile" | translate }}</a>
              </mat-nav-list>
              <mat-nav-list>
                <a mat-list-item (keypress)="logout()" (click)="logout()">{{ "navigation.logout" | translate }}</a>
              </mat-nav-list>
            </mat-menu>
          </div>
        </ng-template>
      </mat-toolbar>
      <mat-progress-bar *ngIf="isLoading" class="absolute" color="accent" mode="indeterminate"></mat-progress-bar>
    </header>

    <div
      class="mat-app-background app-container"
      [@routerTransition]="{
        value: getState(outlet),
        params: { size: isSidebarIsOpened && isDesktop ? sidebarSize : '0px' }
      }"
    >
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
