.form-modal {
  width: 100%;
  max-width: vw(580);

  @include media(">=desktop") {
    min-height: vw(650);
  }

  &__header {
    display: flex;
    box-shadow: 0 vw(3) vw(5) rgba(0, 0, 0, 0.15);
    padding: vw(7);
    height: vw(60);

    &-wrapper {
      display: flex;
      justify-content: space-between;
      justify-content: center;
      width: 100%;
    }

    h2 {
      display: flex;
      align-items: center;
      margin: 0 auto 0 0;
      padding-left: vw(25);
      font-weight: 300;
    }
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: vw(25) auto;
    min-height: 40vh;

    @include media(">=desktop") {
      width: vw(550);
    }

    &-wrapper {
      width: 100%;
      max-width: vw(300);

      @include media(">=desktop") {
        padding: vw(25) vw(75);
        max-width: vw(550);
      }
    }
  }
}
