@import "@angular/material/theming";

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - $header-height);
  height: calc(100dvh - $header-height);

  &__wrapper {
    display: flex;
    position: relative;
    margin: vw(40) 0;
    width: 100%;
    max-width: vw(350);
    height: 100%;
    @extend %backdrop;
    max-height: vw(640);

    @include media(">=desktop") {
      max-width: vw(1000);
    }

    &--transparent {
      .page__container {
        background-color: transparent !important;
      }

      &::after {
        display: none;
      }
    }
  }

  &__container {
    position: relative;
    z-index: 1;
    background-color: mat-color($app-background, 100);
    width: 100%;
    height: 100%;

    .dark-mode & {
      background-color: mat-contrast($app-background, 100);
    }

    &-wrapper {
      position: relative;
      z-index: 1;
      padding: vw(50) vw(40);
      height: 100%;
      box-sizing: border-box;

      @include media(">=desktop") {
        padding: vw(70) vw(50);
      }
    }
  }

  section {
    margin-bottom: vw(38);
    border-bottom: 1px solid mat-color($app-primary, 200);
    padding-bottom: vw(24);

    .dark-mode & {
      border-bottom: 1px solid mat-contrast($app-primary, 400);
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }

    button {
      margin-right: vw(18);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
