<div class="page-container">
    <div class="page">
        <div class="page__wrapper">
            <div class="statistics" fxLayoutAlign="center center" fxLayout="row wrap">
                <mat-card>
                    <app-monthly-done></app-monthly-done>
                </mat-card>
                <mat-card>
                    <app-tasks-done></app-tasks-done>
                </mat-card>
                <mat-card>
                    <app-week-earnings></app-week-earnings>
                </mat-card>
            </div>
        </div>
    </div>
</div>
