<div class="page-container">
    <div class="page">
        <div class="page__wrapper">
            <div fxLayoutAlign="center center" fxLayout="row wrap">
                <app-weekly-done *ngIf="tasks && tasks.length > 0" [tasks]="tasks"></app-weekly-done>
                <app-tasks-done *ngIf="tasks && tasks.length > 0" [tasks]="tasks"></app-tasks-done>
            </div>
            <div *ngIf="tasks.length === 0" class="page__content--empty" fxLayout="column" fxLayoutAlign="center center">
                <div>
                    <mat-icon class="icon icon--big">sms</mat-icon>
                </div>
                <div>{{ "statistics.no-data" | translate }}</div>
            </div>
        </div>
    </div>
</div>
